html{
	min-height: 100%;
}

body{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: -webkit-linear-gradient(#69aff0, #13136d); /* For Safari */
	background: -o-linear-gradient(#69aff0, #13136d); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#69aff0, #13136d); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#69aff0, #13136d); /* Standard syntax (must be last) */
}

#canvas-container {
   width: 100%;
   text-align:center;
}

canvas {
   display: inline;
}
